@import url('/styles/colors.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-background);
    display: flex;
    width: 100vw;
    height: 100vh;
}
.header {
    background: var(--color-highlight);
    border-radius: 10px;
    padding: .3em;
    text-shadow: 3px 2px 5px white;
    margin: 20px;
}
p {
    font-size: 1.5em;
    margin: 8px;
}
.difficulty {
    display: flex;
}
.operators{
    display: none;
    justify-content: space-between;
}
.operatorBtnDiv {
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    width: 120px;
    margin-top: 20px;
}
.questions {
    display: none;
    
}
.quiz {
    display: none;
}
.resultsDisplay {
    display: none;
}
button {
    background-color: var(--color-buttons);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    padding: .5em;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 2px 5px black;
}
input {
    font-size: 1.5em;
    padding: .5em;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 2px 5px black;
    text-align: center;
}
/* Hide the arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Hide the arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: textfield; /* Safari and Chrome */
    appearance: textfield; /* Standard */
}